html {
    font-family: Arial, Helvetica, sans-serif;

}

.App {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-image: url(./back.jpg);
    background-size: cover;
    background-position: center;
    display: flex;

}